body{
    background-image: url("https://images.unsplash.com/photo-1734700920704-1e8000437a00?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
p{
    color: red;
    /*font-size: 50px;*/
    width: 50%;
    height: 50px;
    background-color: lightsalmon;
    display: inline-block;
}
h2, h3{
    color: blue;
}

/*sub, sup{*/
/*    color: blue;*/
/*    font-size: 16px;*/
/*}*/
span{
    color: darkviolet;
    /*font-size: 160px;*/
    width: 50%;
    height: 50px;
    background-color: lightsalmon;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

